<!DOCTYPE html>
<html>
<head>
    <title>SHOPCELL</title>
</head>
<body>
<h1>SHOPCELL | <a href="/login">Qiriş</a></h1><hr>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Çixiş"/>
</form>
<h4>Azərbaycanin hər yerindən mallar</h4>
<form action="/" method="get">
    Reklam başliğina görə axtarin: <input type="text" name="title"><br>
    <input type="submit" value="Axtariş"/>
</form>
<#list products as product>
<div>
    <p><b>${product.title}</b> ${product.price} руб. | <a href="/product/${product.id}">Daha çox...</a></p>
</div>
<#else>
<h3>Məhsul yoxdur</h3>
</#list>
<hr>
<h3>Yeni məhsul yaratmaq</h3>
<form action="/product/create" method="post" enctype="multipart/form-data">
    Reklam başliği: <input type="text" name="title"/><br><br>
    Məhsul təsvirləri: <input type="text" name="description"/><br><br>
    Qiymeti: <input type="number" name="price"/><br><br>
    Şəhər: <input type="text" name="city"/><br><br>
    Ad: <input type="text" name="author"/><br><br>
    Birinc şəkil: <input type="file" name="file1"/><br><br>
    İkinci şəkil: <input type="file" name="file2"/><br><br>
    Üçuncu şəkil: <input type="file" name="file3"/><br><br>
    <input type="submit" value="Məhsul əlavə edin"/>
</form>
</body>
</html>