<!DOCTYPE html>
<html>
<head>
    <title>SHOPCELL</title>
</head>
<body>
<h1>SHOPCELL</h1><hr>
<#if user.email??>
<h3>İstifadəçi adı: <i>${user.name}</i></h3>
<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Выйти"/>
</form>
<#else>
<a href="/login">Daxil ol</a></h1>
</#if>
<hr>
<h4>Azərbaycanın hər yerindən mallar</h4>
<form action="/" method="get">
    Reklam adı ilə axtarin: <input type="text" name="title">
    <input type="submit" value="Axtarış"/>
</form>
<#list products as product>
<div>
    <p><b>${product.title}</b> ${product.price} руб. | <a href="/product/${product.id}">Daha çox...</a></p>
</div>
<#else>
<h3>Məhsul yoxdur</h3>
</#list>
<#if user.email??>
<hr>
<h3>Yeni məhsul yarat</h3>
<form action="/product/create" method="post" enctype="multipart/form-data">
    Reklam başlığı: <input type="text" name="title"/><br><br>
    Reklam təsvirləri: <input type="text" name="description"/><br><br>
    Qiyməti: <input type="number" name="price"/><br><br>
    Şəhər: <input type="text" name="city"/><br><br>
    1 şəkil: <input type="file" name="file1"/><br><br>
    2 şəkil: <input type="file" name="file2"/><br><br>
    3 şəkil: <input type="file" name="file3"/><br><br>
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Məhsul əlavə et"/>
</form>
</#if>
</body>
</html>