<!DOCTYPE html>
<html>
<head>
    <title>SHOPCELL</title>
</head>
<body>
<h1>SHOPCELL</h1><hr>
<h4>Avtorizasiya</h4>
<form action="/registration" method="post">
    Istifadəçi adı: <input type="text" name="name"><br><br>
    E-poçt: <input type="email" name="email"><br><br>
    Telefon nömrəsi: <input type="text" name="numberPhone"><br><br>
    Parol: <input type="password" name="password"><br><br>
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Qeydiyyatdan keç"/>
</form>
<#if errorMessage??>
    <h2 style="color: red">${errorMessage}</h2>
</#if>
</body>
</html>